<div class="footer-container">
  <div class="footer-script">
    <div class="titles-foot">
      <h1>Lite Services</h1>
      <p>06 35 15 81 32</p>
      <p>contact@service-lite-plus.com</p>
    </div>
    <div class="titles-foot">
      <h1>Lite Services</h1>
      <p>06 35 15 81 32</p>
      <p>contact@service-lite-plus.com</p>
    </div>
    <div class="titles-foot">
      <h1>Lite Services</h1>
      <p>06 35 15 81 32</p>
      <p>contact@service-lite-plus.com</p>
    </div>
    <div class="titles-foot">
      <h1>Lite Services</h1>
      <p>06 35 15 81 32</p>
      <p>contact@service-lite-plus.com</p>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © Club Auto - Tous droits réservés</p>
  </div>
</div>
