  <div class ="container-2">
    <div class="pages">
      <div class ="menu-2">
        <%= image_tag "vente-location.jpg" %>
        <div class="title-page">
          <h1>VENTE</h1>
        </div>
      </div>
      <div class="card-list">
          <h1>Ordre</h1>
        <div class="offer-unique">
          <div class="car-img-1">
              <img src="https://images.unsplash.com/flagged/photo-1553505192-acca7d4509be?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1967&q=80">
          </div>
          <div class="card-txt">
            <h2>BMW Serie 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ultrices ipsum, et dictum leo. Cras laoreet efficitur velit sed feugiat. Suspendisse elementum risus et felis iaculis fermentum. Praesent nec risus eros. Donec accumsan neque ut nibh tempus, fermentum vestibulum enim feugiat. </p>
          </div>
          <div class="price-2">
            <h2>5 000€</h2>
          </div>
        </div>
        <div class="offer-unique">
          <div class="car-img-1">
              <img src="https://images.unsplash.com/photo-1566024164372-0281f1133aa6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80">
          </div>
          <div class="card-txt">
            <h2>Lamborghini sport FXW0435</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ultrices ipsum, et dictum leo. Cras laoreet efficitur velit sed feugiat. Suspendisse elementum risus et felis iaculis fermentum. Praesent nec risus eros. Donec accumsan neque ut nibh tempus, fermentum vestibulum enim feugiat. </p>
          </div>
          <div class="price-2">
            <h2>10 000€</h2>
          </div>
        </div>
        <div class="offer-unique">
          <div class="car-img-1">
              <img src="https://images.unsplash.com/photo-1559948636-b3537258cdcc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1971&q=80">
          </div>
          <div class="card-txt">
            <h2>Combi Volkswvagen Connected New-G</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ultrices ipsum, et dictum leo. Cras laoreet efficitur velit sed feugiat. Suspendisse elementum risus et felis iaculis fermentum. Praesent nec risus eros. Donec accumsan neque ut nibh tempus, fermentum vestibulum enim feugiat. </p>
          </div>
          <div class="price-2">
            <h2>12 000€</h2>
          </div>
        </div>
        <div class="offer-unique">
          <div class="car-img-1">
              <img src="https://images.unsplash.com/photo-1591230740238-e9a71182b67c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1525&q=80">
          </div>
          <div class="card-txt">
            <h2>Golf Hybride 8-2021 Sport</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ultrices ipsum, et dictum leo. Cras laoreet efficitur velit sed feugiat. Suspendisse elementum risus et felis iaculis fermentum. Praesent nec risus eros. Donec accumsan neque ut nibh tempus, fermentum vestibulum enim feugiat. </p>
          </div>
          <div class="price-2">
            <h2>120 000€</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
